<!DOCTYPE html>
<html lang="en">
  <%- include('layouts/header'); -%>
  <body>
    <%- include('layouts/navbar'); -%>
    <main>
      <div>
        <div class="posts">
          <% for(var i=0; i<diarioposts.length; i++){ %>
            <div class="post">
              <div class="titulo"><%= diarioposts[i].titulo._id %></div>
              <div class="nota"><%= diarioposts[i].nota._id %></div>
              <div class="key"><%= diarioposts[i].keys._id %></div>
            </div>
          <% } %>
        </div>
        </div>
      <%- include('layouts/footer'); -%>

    </main>
  </body>
</html>
